
<div id="<%= dom_id student %>">
    <% if current_user && current_user.librarian %>
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= student.book %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= student.author %>
  </p>
  <% else %>
  <p>
    <strong>Title:</strong>
    <%= student.book %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= student.author %>
  </p>
  <% end %>
</div>
